* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #333;
}
.dark {
  --white: #333;
  --black: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  /* background-color: var(--white); */
  /* box-shadow: 0 0 10px #ddd; */
  position: relative;
  z-index: 3;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  height: 72px;
  color: var(--black);
  display: flex;
  font-size: 2em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.right-side {
  display: flex;
}
.dark .mask {
  filter: invert(1);
  mix-blend-mode: multiply;
}
.right-side .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  /* background-color: #ccc; */
  width: 40px;
  height: 40px;
}

.right-side .btns ion-icon {
  font-size: 1.5em;
  color: var(--black);
}

.btns ion-icon:nth-child(2) {
  display: none;
}
.main {
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  height: calc(100% - 72px);

  left: 0;
  object-fit: cover;
}
.main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  user-select: none;
}
.btns.active ion-icon:nth-child(2) {
  display: block;
}
.btns.active ion-icon:nth-child(1) {
  display: none;
}

h2 {
  font-size: 16vw;
  color: #fff;
  position: relative;
  z-index: 2;
}

ul {
  position: absolute;
  top: 0;
  left: -100%;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: var(--white);
}

ul.active {
  left: 0;
}
ul li a {
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.25em;
  color: var(--black);
  padding: 5px 20px;
}
ul li a:hover {
  background-color: var(--black);
  border-radius: 10px;
  color: var(--white);
}

@media (max-width: 765px) {
  .mask {
    height: calc(100% - 72px);
  }
}
